{{{ title }}}
{{ Array.from(Array(title.length).keys()).map(() => '-').join(' ') }}
@each(p in paragraphs)
{{{ p }}}
@end
{{ Array.from(Array(title.length).keys()).map(() => '-').join(' ') }}
{{{ reply }}}
